.logo{
    width: 130px;
}

 .navbar-dark .navbar-nav .nav-link {
     color: #2079b8 !important;
 }

 .carregamento{
    width: 70vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar .nav-item .nav-link span {
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
}

.sidebar {
    background-image: linear-gradient(
        180deg, #1f2c42 -28%, 
        #227ABA 25%, #34A1C4 100%) 
        !important
}

.bg-dark {
    background-image: linear-gradient(
        180deg, 
        #1f2c42 0%, 
        #227ABA 193%) !important;
}

.btn-primary {
    background-color: #006095 ;
    border-color:  #006095 ;
}

.btn-primary:hover, 
.btn-primary:active, 
.btn-primary:focus, 
.btn-primary:visited {
    background-color: #024970;
    border-color:  #024970;
}

.btn-warning{
    background-color: #34A1C4 ;
    border-color:  #34A1C4 ;
}

.btn-warning:hover, 
.btn-warning:active, 
.btn-warning:focus.btn-warning.focus, 
.btn-warning:visited{
    background-color: rgb(26, 117, 148) ;
    border-color:  rgb(26, 117, 148) ;
}

.btn-danger, .btn-danger:active {
    background-color: #fff;
    border: 2px #c82333 solid;
    color: #c82333 !important;
}

.btn-danger:hover {
    color: #fff !important;
}

h4, .h4 {
    font-size: 1.5rem !important;
    font-weight: 600 !important;
    letter-spacing: 0.8px !important;
}

h3, .h3 {
    font-weight: 600 !important;
    letter-spacing: 0.8px !important;
    color: #272727;
}



#usuario-nome, 
.navbar-dark 
.navbar-nav 
.nav-link {
    color: #fff !important;
}

#usuario-nome {
    letter-spacing: .9px;
}