.logo{
    width: 130px;
}

#divtemp,
#divumi{
    width: 50%;
}

#temp,
#umid{
    width: 50%; 
    height: 60px;
}

#tudo{
    margin:20px;
    display: flex;
}

@media (max-width: 600px) {
#tudo{
    flex-flow: wrap;
}
#temp,
#umid{
width: 60%; 
height: 60px;
}
#divtemp,
#divumi{
    width: 100%;
}
}