.pesquisa{
    width: 600px;
    height: 40px;
    margin: 10px;
}
#texto{
    width: 500px;
    height: 40;
    float: left;
    font-family: "arial";
    font-size: 20px
}
.btn{
    width: 23px;
    height: 19px;
    background-color: #227ABA;
    padding: 5px 10px;
    cursor: pointer;
}
#texto:focus{
    border: solid 2px black;
}
nav{
display: flex;
}
.perfil{
    display: flex;
    width: 50%;
    height: 50%;
}
.logo{
    width: 160px;
    margin-top: 9px;
}
