* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, sans-serif; 
}

a {
    text-decoration: none;
    color: #227ABA;
    letter-spacing: .8px;
    font-weight: 600;
    margin: 10px 0px;
    transition:all ease .3s;
}

a:hover {
    color: #006095;
}

nav {
    padding: 25px;
    position: fixed;
}

label {
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 1px;
    color: #006095;
}

input, 
.botao,
label {
    display:block;
    width: 300px;
}

input, 
.botao {
    margin: 25px 0px;
    padding: 10px 15px;
    border-radius: 3px;
}

input {
    border: 1px solid #cdcdcd;
    color: #000;
    font-size: 1em;
    letter-spacing: .5px;
    transition: all ease-out .3s;
    font-weight: 600;
}

input:focus {
    color: #006095;
}

.botao {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1.5px;
    font-size: .8em;
    background-color: #227ABA;
    border: 2px solid #227ABA;
    color: #fff;
    text-align: center;
    transition:all ease .3s;
}

.botao:hover {
    background-color: #006095;
    border: 2px solid #006095;
}

a.botao{
    background-color: transparent;
    border: 2px solid #227ABA;
    color: #227ABA;;
} 

a.botao:hover {
    background-color: #fff;
    color: #006095;
    border: 2px solid #006095;
}

article{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

section {
    width: 50%;
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}


.formulario {
    height: 70vh;
}

.welcome {
    height: 100vh;
    background-image: linear-gradient(120deg, #1f2c42 -20%, #227ABA 40%, #34A1C4 100%) !important;
    color: #fff;
    letter-spacing: 1px;
}

@media only screen and (max-width: 950px)  { 
    article{
        flex-flow: column;
        flex-wrap: wrap;
    }

    section {
        width: 100%;
    }

    .formulario {
        order:2;
        height: 120vh;
    }

    .welcome {
            height: 50vh;
    }
}


h1 {
    font-size: 2.5em;
    padding-bottom: 10px;
}

h3 {
    font-size: 1.2em;
}

@media only screen and (max-width: 540px)  { 

    h1 {
        font-size: 1.5em;
        padding-bottom: 10px;
    }

    h3 {
        font-size: .8em;
    }

}


.imagem{
    width: 300px;
}

.imagem img{
    width: 50%;
}

@media (max-width: 600px) {
	.imagem{
		width: 60%;
	}
}
