.logo{
    width: 130px;
}

#divtemp,
#divumi{
    width: 50%;
}

#temp,
#umid{
    width: 50%; 
    height: 60px;
}

#tudo{
    margin:20px;
    display: flex;
}

@media (max-width: 600px) {
#tudo{
    flex-flow: wrap;
}
#temp,
#umid{
width: 60%; 
height: 60px;
}
#divtemp,
#divumi{
    width: 100%;
}
}

.table td {
    font-size:0.8em !important;
}

.consulta-btn {
   width: 75px;
}

#usuario-nome {
    color: #2079b8;
}

.navbar-dark .navbar-nav .nav-link {
    color: #2079b8 !important;
}